In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [2]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [5]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
type(df.event)

pandas.core.series.Series

In [10]:
df[["event"]]

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [11]:
df.temperature.max()

35

In [12]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [13]:
df["event"][df["temperature"] < df["temperature"].mean()]

2    Snow
3    Snow
Name: event, dtype: object

In [81]:
df

   index  event  temperature  windspeed
0      0   Rain           32          6
1      1  Sunny           35          7
2      2   Snow           28          2
3      3   Snow           24          7
4      4   Rain           32          4
5      5  Sunny           31          2

In [83]:
df.loc[2]

index             2
event          Snow
temperature      28
windspeed         2
Name: 2, dtype: object

In [1]:
import tensorflow as tf

from tensorflow.python.client import device_lib

print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
device_lib.list_local_devices()

Num GPUs Available:  1

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 16516910576977320694
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 5738397696
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 8648898525261449653
 physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 3070, pci bus id: 0000:01:00.0, compute capability: 8.6"
 xla_global_id: 416903419]

In [2]:
import os
import tensorflow as tf

# os.environ['CUDA_VISIBLE_DEVICES'] = '0'
print(len(tf.config.list_physical_devices('GPU')))
tf.test.is_gpu_available()

# if tf.test.gpu_device_name():
#     print('GPU found')
# else:
#     print("No GPU found")

1
WARNING:tensorflow:From C:\Users\M. ALANA\AppData\Local\Temp\ipykernel_22916\2516424520.py:6: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.

True